.monsterrat {
	font-family: 'Montserrat', sans-serif;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}

.lettuce {

	background-image: linear-gradient(rgba(96, 57, 19, 0.8), rgba(96, 57, 19, 0.8)), url(../img/ccLettuce.jpg);
	background-color: #010101;
	height: calc(100% - 56px);
	background-size: cover;
	background-position: center;

}

.tagline {
	color: #fafafa;

}


nav {
	background-color: #697733;
	color: #000;
}

.navFix {
	margin-top: 56px;
}

.quote {
	background-color: #60391322;
}

button {
	background-color: #697733;
}

.contact_head {
	background-color: #603913;
	color: white;
}

.contact {
	max-width: 75%;
}


#lettuceImg {
	background: linear-gradient(rgba(96, 57, 19, 0.7), rgba(96, 57, 19, 0.7)),
	url(../img/ccLettuce.jpg) no-repeat center center fixed;
}

#flowerImg {
	background: linear-gradient(rgba(96, 57, 19, 0.4), rgba(96, 57, 19, 0.4)),
	url(../img/flower.jpg) no-repeat center center fixed;
}

#tulipImg {
	background: linear-gradient(rgba(96, 57, 19, 0.4), rgba(96, 57, 19, 0.4)),
	url(../img/tulipField.jpg) no-repeat center center fixed;
}